body {
    height: 100vh;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;

}

.container {
    max-width: none;
}

main.container {
    margin: none;
    max-width: none;
    background-color: #607d8b;
    width: 100%;
    height: 100%;
}

.row {
    margin-bottom: 0px;
}

/*Navbar*/
nav .brand-logo {
    color: #f2e8e2;
}

i.fa-bars {
    margin-top: 20px;
    color: #f2e8e2;
}

ul.right {
    margin-top: 15px;
    color: #f2e8e2;
    margin-right: 10px;
}

@media all and (max-width: 360px) {
    a#taste {
        display: none;
    }
}

.logo {
    height: 75px;
    width: 100px;
    size: 25px;
}

#taste {
    left: 50%;
    margin-top: 20px;

}

/*text*/
.cream-text {
    color: #f2e8e2;
}

/*search bar*/
.search {
    background-color: #577b9f;
}

.search-reset {
    background-color: #bd5229f0;
}

/*recipes.html*/
.card-panel {
    width: 75%;
    height: 80%;
    margin: 0 auto;
}

#kitchen {
    object-position: 100% 80%;
    object-fit: cover;
    height: 200px;
    width: 100%;
    margin: 0px;

}

.bg-image {
    background-image: url('/static/media/kitchen-background.jpg');
    background-position: cover;
    height: 100%;
    width: 100%;
    padding-bottom: 30px;
}

.recipes-bg {
    background-color: #607d8b;
    width: 100%;
    margin: 0 auto;
}

/*Cards*/
.recipe_container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    background-color: #f2e8e2;
    border-radius: 10px;
    margin: 15px;
    height: 400px;
    width: 175px;
}

@media all and (max-width: 695px) {
    .card {
        margin: 10px auto;
        left: auto;
        right: auto;
    }
}

/*Footer*/
#footer {
    margin: 0px 0px;
    width: 100%;
    display: flex;
}

.social {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.li-inline {
    display: inline;
}

.social-link {
    font-size: x-large;
    color: #f2e8e2;
}