.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;

}

.container {
    width: 100%;
}

#kitchen {
    object-position: 100% 80%;
    object-fit: cover;
    height: 200px;
    width: 100%;
    margin: 0px;

}