{% extends "base.html" %}
{% block content %}
<div class="container bg-image">
    <h3 class="recipe-text-category text-darken-4 center-align">Manage Categories</h3>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_category') }}" class="btn-large submit-recipe darken-2 text-shadow">
                Add Category <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <div class="row">
        {% for category in categories %}
        <div class="col s12 m3">
            <div class="category-card darken-4 text-shadow center-align">
                <div class="card-content white-text">
                    <span class="card-title">{{ category.category_name }}</span>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('delete_category', category_id=category._id) }}"
                        class="orange accent-4 btn-small"><i class="fas fa-trash-alt text-shadow"></i></a>
                    <a href="{{ url_for('edit_category', category_id=category._id) }}"
                        class="grey-blue accent-4 btn-small text-shadow">Edit</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}