{% extends "base.html" %}
{% block content %}

<div class="container bg-image-profile">

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel-profile">
                <h3 class="center-align recipe-text-profile text-darken-4">
                    {{user.username}}'s Profile
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="profile-text-div">
    <h4 class="profile-text">Enjoy your recipes in your own space</h4>
</div>
{% if recipes|length > 0 %}
<div class="container recipe_container flex">
    <div class="row card-container">
        {% for recipe in recipes %}

        <div class="card col s12 m4" style="width: 20rem;">
            <img src="{{ recipe.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.recipe_name }}
                    {% if recipe.is_vegetarian == "on" %}
                    <i class="fas fa-seedling text-lighten-2 tooltipped" data-position="bottom"
                        data-tooltip="Vegetarian!"></i>
                    {% endif %}
                </h5>
                <label for="card-description" class="card-description">Recipe Description:</label>
                <span>{{ recipe.recipe_time }} <i class="far fa-clock"></i></span> <span>{{ recipe.portions }} <i
                        class="fas fa-child"></i></span>
                <p class="card-text" id="card-description">{{ recipe.recipe_description }}</p>

                <a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}" class="btn btn-primary">Get Cooking
                    with
                    us!</a>

                {% if session.user|lower == recipe.created_by|lower %}
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="orange accent-4 btn-small"><i
                        class="fas fa-trash-alt text-shadow"></i></a>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                    class="grey-blue accent-4 btn-small text-shadow">Edit</a>
                {% endif %}

            </div>
        </div>

        {% endfor %}
    </div>
</div>

<div class="qoute-container recipes-bg">
    <p class="qoute">“A recipe has no soul. You as the cook must bring soul to the recipe.”
        – Thomas Keller</p>
</div>
{% else %}
<h3 class="red-text text-darken-4 center-align">No recipes found</h3>

{% endif %}

</div>
{% endblock %}