{% extends "base.html" %}
{% block content %}

<h2>im extending the base template</h2>

{% for recipe in recipes %}
{{ recipe.recipe_name }} <br>
{{ recipe.category_name }}<br>
{{ recipe.recipe_description }}<br>
{{ recipe.is_vegetarian }}<br>
{{ recipe.rating }}<br>
{% endfor %}

<ul class="collapsible">
    <li>
        <div class="collapsible-header white-text light-blue darken-4 text-shadow"><i
                class="fas fa-caret-down"></i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header white-text light-blue darken-4 text-shadow"><i
                class="fas fa-caret-down"></i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header white-text light-blue darken-4 text-shadow"><i
                class="fas fa-caret-down"></i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>
{% endblock %}