{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">All Recipes</h3>

<ul class="collapsible">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header white-text light-blue darken-4 text-shadow">
            <div class="col s3">
                <i class="fas fa-caret-down"></i>
                {% if session.user|lower == recipe.created_by|lower %}
                <a href="" class="green accent-4 btn-small">Done</a>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="green accent-4 btn-small">Edit</a>
                {% endif %}
            </div>
            <div class="col s9">
                <strong>{{ recipe.recipe_name }}</strong> : {{ recipe.rating }}
                {% if recipe.is_vegetarian == "on" %}
                <i class="fa-solid fa-carrot light-blue-text text-lighten-2 tooltipped" data-position="bottom"
                    data-tooltip="Vegetarian!"></i>
                {% endif %}
            </div>
        </div>
        <div class="collapsible-body">
            <strong>{{ recipe.category_name }}</strong>
            <p>{{ recipe.recipe_description }}</p>
            <p><em>by: {{ recipe.created_by }}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}